<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saifulislam.learnandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RadioButtonCode"
            android:label="RadioButton Code" />
        <activity
            android:name=".SeekBarCode"
            android:label="SeekBar Code" />
        <activity
            android:name=".ProgressBarCode"
            android:label="ProgressBar Code" />
        <activity
            android:name=".ScrollViewCode"
            android:label="ScrollView Code" />
        <activity
            android:name=".AlertDialogCode"
            android:label="AlertDialog Code" />
        <activity
            android:name=".CheckBoxCode"
            android:label="CheckBox Code" />
        <activity
            android:name=".SwitchCode"
            android:label="Switch Code" />
        <activity
            android:name=".ImageButtonCode"
            android:label="ImageButton Code" />
        <activity
            android:name=".ButtonCode"
            android:label="Button Code" />
        <activity
            android:name=".EditTextCode"
            android:label="EditText Code" />
        <activity
            android:name=".TextViewCode"
            android:label="TextVIew Code" />
        <activity
            android:name=".RadioButtonActivity"
            android:label="RadioButton" />
        <activity
            android:name=".SeekBarActivity"
            android:label="Seekbar" />
        <activity
            android:name=".ProgressBarActivity"
            android:label="ProgressBar" />
        <activity
            android:name=".ScrollViewActivity"
            android:label="ScrollView" />
        <activity
            android:name=".AlertDialogActivity"
            android:label="AlertDialog" />
        <activity
            android:name=".CheckBoxActivity"
            android:label="CheckBox" />
        <activity
            android:name=".SwitchActivity"
            android:label="Switch" />
        <activity
            android:name=".ImageButtonActivity"
            android:label="ImageButton" />
        <activity
            android:name=".ButtonActivity"
            android:label="Button" />
        <activity
            android:name=".EditTextActivity"
            android:label="EditText" />
        <activity
            android:name=".TextViewActivity"
            android:label="TextView" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutAuthor" />
        <activity
            android:name=".CommonWidgetActivity"
            android:label="CommonWidget" />
        <activity
            android:name=".IntentActivity"
            android:label="Intent" />
        <activity
            android:name=".ContainerActivity"
            android:label="Container" />
        <activity
            android:name=".MenuActivity"
            android:label="Menu" />
        <activity
            android:name=".DateTimeActivity"
            android:label="DateTime" />
        <activity
            android:name=".AnimationActivity"
            android:label="Animation" />
        <activity
            android:name=".AodioActivity"
            android:label="Audio" />
        <activity
            android:name=".VideoActivity"
            android:label="Video" />
        <activity
            android:name=".CameraActivity"
            android:label="Camera" />
        <activity
            android:name=".FragmentActivity"
            android:label="Fragment" />
        <activity
            android:name=".MapActivity"
            android:label="Map" />
        <activity
            android:name=".SQLiteActivity"
            android:label="SQLite" />
        <activity
            android:name=".ToastActivity"
            android:label="Toast" />
    </application>

</manifest>